@keyframes slide-down {
  0% {
    height: 0;
    top: 32px;
  }
  50% {
    height: 100%;
  }
  70% {
    top: 32px;
  }
  100% {
    top: 160px;
  }
}

@keyframes spriteMoveX {
  from {
    background-position-x: 0;
  }
  to {
    // background-position-x: -6000px;
    background-position-x: calc(var(--logoSpriteWidth) * -10);
  }
}
@keyframes spriteMoveY {
  from {
    background-position-y: 0;
  }
  to {
    // background-position-y: -4800px;
    background-position-y: calc(var(--logoSpriteHeight) * -12);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-60px);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(-60px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-120px);
  }
}

//

@keyframes moveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: calc(var(--projectSpriteWidth) * -10);
  }
}
@keyframes moveY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: calc(var(--projectSpriteHeight) * -6);
  }
}

@media (max-width: 1025px) {
  @keyframes moveX {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: calc(var(--projectSpriteWidthIpad) * -10);
    }
  }
  @keyframes moveY {
    from {
      background-position-y: 0;
    }
    to {
      background-position-y: calc(var(--projectSpriteHeightIpad) * -6);
    }
  }
}
@media (max-width: 429px) {
  @keyframes moveX {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: calc(var(--projectSpriteWidthPhone) * -10);
    }
  }
  @keyframes moveY {
    from {
      background-position-y: 0;
    }
    to {
      background-position-y: calc(var(--projectSpriteHeightPhone) * -6);
    }
  }
}
