@import "./sass/variables";
@import "./sass/animation";
.container {
  overflow: hidden;
  position: relative;

  // resuse
  .contentWrapper {
    max-width: 1360px;
    margin: 0 auto;
  }
  .link {
    text-transform: uppercase;
    color: $primary-red;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;

    margin-top: 64px;
    cursor: pointer;

    display: flex;
    align-items: center;
    margin-left: -16px;

    > * {
      margin-left: 16px;
    }

    &:hover > .line {
      width: 20px;
    }

    .line {
      width: 80px;
      height: 1px;
      background-color: $primary-red;

      transition: 0.8s all ease;
    }
  }
  //
  .bannerContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    @media (max-width: 1025px) {
      // height: auto;
      height: 80vh;
      margin-top: -4%;
      // height: 100%;
      @media (max-width: 429px) {
        height: 75vh;
      }
    }
    .bannerBlur {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 160px;
      background: linear-gradient(180deg, rgba(0, 34, 102, 0) 0%, #002266 100%);
      z-index: 1;
    }
    .bannerVideo {
      height: 100%;
      position: relative;

      > video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
        @media (max-width: 1025px) {
          transform: translateX(-50%) translateY(-50%) scale(0.8);
          @media (max-width: 429px) {
            transform: translateX(-50%) translateY(-50%) scale(0.65);
          }
        }
      }
    }
    .bannerText {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translateX(-50%);

      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
      text-transform: uppercase;
      color: #fff;
      color: white;
      text-align: center;

      white-space: nowrap;

      br {
        display: none;
        @media (max-width: 1025px) {
          display: block;
        }
      }
    }
    .exploreMore {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      height: 160px;

      text-transform: uppercase;

      display: flex;
      justify-content: center;

      overflow: hidden;
      transition: 1s all ease;

      &.gone {
        opacity: 0;
      }
      p {
        font-weight: 700;
        font-size: 16px;
      }
      .line {
        height: 100%;
        width: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: -32px;
        animation: slide-down 1.4s linear infinite;
      }
    }
  }
  .about {
    display: flex;
    gap: 100px;
    padding: 10%;
    background: white;
    z-index: 1;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .visual {
      // ===
      position: relative;
      width: 100%;
      max-width: 600px;
      max-height: 400px;
      flex: 1;
      align-self: center;
      height: auto;

      // overflow: visible;

      &:before {
        content: "";
        display: block;
        padding-top: 66.68%;
      }

      .logoSprite {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("/pitek_logo_sprite.png") no-repeat;

        animation: spriteMoveX 0.4s steps(10) infinite,
          spriteMoveY 4.8s steps(12) infinite;
        background-size: 1000% 1200%;
      }
      .visualLayer1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .visualLayer2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .visualLayer3 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    .aboutContent {
      flex: 1;
      max-width: 640px;
      @media (max-width: 429px) {
        margin-top: -40px;
      }

      h2 {
        position: relative;
        margin-bottom: 32px;
        color: $primary-blue;
      }
      p {
        color: $s-gray;
        font-size: 16px;
        max-width: 440px;
      }
      .textSlider {
        color: $primary-red;
        display: inline-flex;
        // width: 220px;
        flex-direction: column;
        // animation: slideIn 3s ease infinite;
        position: relative;
        height: 60px;
        transform: translateY(60px);

        .text {
          position: absolute;
          top: 14px;
          @media (max-width: 1024px) {
            top: 28px;
          }
          &.show {
            animation: slideIn 1s ease;
            animation-fill-mode: forwards;
          }
          &.notShow {
            animation: slideOut 1s ease;
            animation-fill-mode: none;
          }
        }
      }
    }
  }
  // TODO: service
  .service {
    z-index: 2;
    padding-bottom: 10%;
    position: relative;
    background: white;
    @media (max-width: 1025px) {
      padding: 18%;
    }
    @media (max-width: 429px) {
      padding: 7%;
    }
    h1 {
      text-align: center;
      color: $primary-red;
      margin-bottom: 80px;
    }
    .cards {
      display: flex;
      justify-content: center;
      margin-left: -80px;

      @media (max-width: 1536px) {
        margin-left: -60px;
      }

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 32px;
        align-items: center;
      }

      > * {
        margin-left: 80px;
        @media (max-width: 1536px) {
          margin-left: 60px;
          // flex: 1;
        }
      }
      .card {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        background: #ffffff;
        box-shadow: 0px 8px 32px rgba(0, 128, 160, 0.08);
        border-radius: 16px;

        padding: 60px;

        @media (max-width: 1536px) {
          padding: 48px;
        }
        @media (max-width: 1024px) {
          flex-direction: row;
          gap: 32px;
          padding: 32px;
        }
        @media (max-width: 429px) {
          flex-direction: column;
          gap: 32px;
          padding: 32px;
        }

        // .icon {
        //   margin-bottom: 32px;
        // }
        h5 {
          margin-bottom: 16px;
          background: linear-gradient(274.9deg, #002266 46.05%, #ff3355 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          max-width: 280px;
          font-weight: 300;
          font-size: 16px;
          @media (max-width: 1536px) {
            max-width: 240px;
          }
        }
        .cardList {
          margin-top: 16px;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            display: block;

            background: $primary-red;
            height: 100%;
            width: 1px;
            left: -16px;
          }
        }
      }
    }
    .plusPattern {
      position: absolute;
      bottom: -80px;
      left: 50%;
      z-index: -1;
    }
    .circlePattern {
      position: absolute;
      top: 6.25%;
      right: -180px;
      z-index: -1;
    }
    .arrowPattern {
      position: absolute;
      bottom: 7.3%;
      left: 9.3%;
      z-index: -1;
    }
  }
  // TODO: projects
  .project {
    z-index: 3;
    position: relative;
    padding: 10%;
    overflow: hidden;
    .projectBg {
      width: 100%;

      video {
        min-width: 100%;
        min-height: 100%;
        // margin-top: -4%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // z-index: 3;
      background: #002266;
      opacity: 0.5;
    }

    .projectContainer {
      display: flex;
      gap: 64px;
      @media (max-width: 1024px) {
        flex-direction: column;
      }

      .projectSpriteSheet {
        position: relative;
        width: 100%;
        max-width: 440px;
        max-height: 640px;

        &:before {
          content: "";
          display: block;
          padding-top: 145.4545%;
        }

        .box {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: url("/projects/project_spritesheet.png") no-repeat 0 0%;
          animation: moveX 0.5s steps(10) infinite, moveY 3s steps(6) infinite;
          // actual bg width / display width => *100%
          background-size: 1000% 600%;
        }
      }

      // TODO:

      .mySwiperPhone {
        display: none;
        overflow: visible;
        @media (max-width: 429px) {
          display: block;
        }
      }
      .mySwiperIpad {
        display: none;
        overflow: visible;
        @media (max-width: 1025px) {
          display: block;
        }
        @media (max-width: 429px) {
          display: none;
        }
      }
      .mySwiper {
        overflow: visible;
        @media (max-width: 1025px) {
          display: none;
        }
      }
      .projectCard {
        filter: drop-shadow(0px 8px 32px rgba(0, 128, 160, 0.08));
        border-radius: 24px;
        position: relative;

        display: flex;
        justify-content: center;

        // @media (max-width: 769px) {
        //   min-width: 33%;
        // }

        // @media (max-width: 425px) {
        //   max-width: 325px;
        //   max-height: 400px;
        // }
        .info {
          position: absolute;
          bottom: 6%;
          left: 14%;
          color: white;
        }
      }

      .projectContent {
        min-width: 400px;
        width: 400px;
        z-index: 2;
        h1 {
          color: $primary-red;
          margin-bottom: 32px;
        }
        p {
          color: $s-clear;
        }
        .link {
          color: white;
          margin-top: 64px;
          .line {
            background-color: white;
          }
        }
        .slideNavigate {
          display: flex;
          gap: 16px;
          margin-top: 50%;
          @media (max-width: 1440px) {
            margin-top: 150px;
          }
          @media (max-width: 1024px) {
            display: none;
          }
          .slideBtn {
            padding: 24px;
            background-color: rgba(0, 34, 102, 0.25);
            border: 2px solid rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(8px);
            border-radius: 50%;
            // opacity: 0.25;
            cursor: pointer;
            z-index: 10;

            &.slideRight {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
